.master {                                       /* Elemento padre de todos los divs */
    display: flex;
    flex-direction: column;
}

.div {                                          /* Este div representa el header y el footer */
    height: 8.8em;
    width: 104em;
    background-color: antiquewhite;
    display: flex;
}

.separacion {                                   /* Este div separa, el header y el footer de la nintendo */
    background-color: whitesmoke;
    height: 40em;
    width: 104em;
}

.nintendo {                                     /* Este div es el elemento padre de todos los divs que haré en la nintendo */
    height: 35em;
    width: 104em;
    background-color: white;
    margin-top: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.parcheNintendoIzq {
    height: 1em;
    width: 1em;
    background-color: white;
    position: fixed;
    margin-top: 5em;
    border-radius: 0em 0em 1em 0em;
    margin-right: 39em;
}

.parcheNintendoDer {
    height: 1em;
    width: 1em;
    background-color: white;
    position: fixed;
    margin-top: 5em;
    margin-left: 39em;
    border-radius: 0em 0em 0em 1em;
}

.parcheControladorIzq {
    height: 1em;
    width: 2em;
    background-color: lightblue;
    position: fixed;
    margin-top: 5em;
    margin-right: 42em;
    border-radius: 0em 0em 0.6em 0em;
}

.parcheControladorDer {
    height: 1em;
    width: 2em;
    background-color: red;
    position: fixed;
    margin-top: 5em;
    margin-left: 42em;
    border-radius: 0em 0em 0em 0.6em;
}

.trianguloArriba {
    width: 0;
    height: 0;
    border-right: 0.4em solid transparent;
    border-left: 0.4em solid transparent;
    border-bottom: 0.6em solid black;
    position: fixed;
    margin-top: 14.6em;
    margin-right: 50.3em;
}

.trianguloAbajo {
    width: 0;
    height: 0;
    border-right: 0.4em solid transparent;
    border-left: 0.4em solid transparent;
    border-top: 0.6em solid black;
    position: fixed;
    margin-top: 18.8em;
    margin-right: 50.3em;
}

.trianguloIzquierdo {
    width: 0;
    height: 0;
    border-top: 0.4em solid transparent;
    border-bottom: 0.4em solid transparent;
    border-right: 0.6em solid black;
    position: fixed;
    margin-top: 16.6em;
    margin-right: 54.5em;
}

.trianguloDerecho {
    width: 0;
    height: 0;
    border-top: 0.4em solid transparent;
    border-bottom: 0.4em solid transparent;
    border-left: 0.6em solid black;
    position: fixed;
    margin-top: 16.6em;
    margin-right: 46em;
}


.controladorIzquierdo {                         /* Este div es el elemento padre de todos los divs del controlador izquierdo */
    height: 22em;
    width: 10em;
    background-color: lightblue;
    margin-top: 5em;
    border-radius: 6em 0em 0em 6em;
    display: flex;
    flex-direction: column;
}

.contenedorSimboloMenos {
    height: 4em;
    width: 10em;
    background-color:  lightblue;
    display: flex;
    border-radius: 6em 0em 0em 0em;
    border-top: 0.5em solid #1d2528;
}

.botonMenos {
    height: 0.5em;
    width: 1.5em;
    background-color: #1d2528;
    margin-top: 2em;
    margin-left: 7.8em;
    border-radius: 1em 1em 1em 1em;
} 

.contenedorJoystickIzq {
    height: 4.5em;
    width: 10em;
    background-color: lightblue;
    display: flex;
}

.joystickIzq {
    height: 3.5em;
    width: 3.5em;
    background-color: #1d2528;
    border-radius: 2em 2em 2em 2em;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: 3.2em;
    margin-bottom: 2em;
}

.contenedorCruzetaAzul {        /* Contenedor padre de la cruzetaAzulUno a la Nueve*/
    height: 6em;
    width: 6em;
    background-color: lightblue;
    margin-left: 1.9em;
    display: grid;
    grid-template-columns: 2em 2em 2em;
}

.cruzetaAzulUno {
    height: 2em;
    width: 2em;
    background-color: lightblue;
}

.cruzetaAzulDos {
    height: 2em;
    width: 2em;
    background-color:  #1d2528;
    border-radius: 1em 1em 1em 1em;
}

.cruzetaAzulTres {
    height: 2em;
    width: 2em;
    background-color: lightblue;
}

.cruzetaAzulCuatro {
    height: 2em;
    width: 2em;
    background-color: #1d2528;
    border-radius: 1em 1em 1em 1em;
}

.cruzetaAzulCinco {
    height: 2em;
    width: 2em;
    background-color: lightblue;
}

.cruzetaAzulSeis {
    height: 2em;
    width: 2em;
    background-color: #1d2528;
    border-radius: 1em 1em 1em 1em;
}

.cruzetaAzulSiete {
    height: 2em;
    width: 2em;
    background-color: lightblue;
}

.cruzetaAzulOcho {
    height: 2em;
    width: 2em;
    background-color: #1d2528;
    border-radius: 1em 1em 1em 1em;
}

.cruzetaAzulNueve {
    height: 2em;
    width: 2em;
    background-color: lightblue;
}


.contenedorBotonSelect {
    height: 7em;
    width: 10em;
    background-color: lightblue;
    display: flex;
    border-radius: 0em 0em 0em 6em;
}

.botonSelect {
    height: 1.5em;
    width: 1.5em;
    background-color: #1d2528;
    margin-left: 6em;
    margin-top: 0.7em;
}

.carcasaExterior {                              /* Este div es el elemento padre de la pantalla */
    height: 22em;
    width: 40em;
    background-color: grey;
    margin-top: 5em;
    border-radius: 2em 2em 0em 0em;
    display: flex;
    flex-direction: row;
}

.bordePantalla {
    height: 20em;
    width: 37em;
    background-color: black;
    margin-top: 1em;
    margin-left: 1.5em;
    border-radius: 1em 1em 1em 1em;
}

.pantalla {
    height: 17em;
    width: 32em;
    background-color: lightgrey;
    margin-top: 1.5em;
    margin-left: 2.5em;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
}

.controladorDerecho {                           /* Este div es el elemento padre de todos los divs del controlador derecho */
    height: 22em;
    width: 10em;
    background-color: red;
    margin-top: 5em;
    border-radius: 0em 6em 6em 0em;
    display: flex;
    flex-direction: column;
}

.contenedorSimboloMas {
    height: 5em;
    width: 10em;
    background-color: red;
    display: flex;
    border-radius: 0em 6em 0em 0em;
    border-top: 0.5em solid #1d2528;

}

.simboloMas {                          /*Este div es el contenedor padre de todos los divs .simboloMasX */
    height: 1.2em;
    width: 1.2em;
    margin-top: 1.6em;
    margin-left: 0.6em;
    display: grid;
    grid-template-columns: 0.4em 0.4em 0.4em;
} 

.simboloMasUno {
    height: 0.4em;
    width: 0.4em;
    background-color: red;
}

.simboloMasDos {
    height: 0.4em;
    width: 0.4em;
    background-color: #1d2528;
}

.simboloMasTres {
    height: 0.4em;
    width: 0.4em;
    background-color: red;
}

.simboloMasCuatro {
    height: 0.4em;
    width: 0.4em;
    background-color: #1d2528;
}

.simboloMasCinco {
    height: 0.4em;
    width: 0.4em;
    background-color: #1d2528;
}

.simboloMasSeis {
    height: 0.4em;
    width: 0.4em;
    background-color: #1d2528;
}

.simboloMasSiete {
    height: 0.4em;
    width: 0.4em;
    background-color: red;

}

.simboloMasOcho {
    height: 0.4em;
    width: 0.4em;
    background-color: #1d2528;
}

.simboloMasNueve {
    height: 0.4em;
    width: 0.4em;
    background-color: red;
}

.contenedorCruzetaRoja {            /*Este es el contenedor padre de CruzetaRojaX hasta la Nueve */
    height: 6em;
    width: 6em;
    background-color: red;
    margin-left: 1.6em;
    display: grid;
    grid-template-columns: 2em 2em 2em;
    position: fixed;
    margin-top: 3.6em
}

.cruzetaRojaUno {
    height: 2em;
    width: 2em;
    background-color: red;
}

.cruzetaRojaDos {
    height: 2em;
    width: 2em;
    background-color: #1d2528;
    border-radius: 1em 1em 1em 1em;
    display: grid;
    justify-content: center;
    align-content: center;
    color: white;
}

.cruzetaRojaTres {
    height: 2em;
    width: 2em;
    background-color: red;
}

.cruzetaRojaCuatro {
    height: 2em;
    width: 2em;
    background-color: #1d2528;
    border-radius: 1em 1em 1em 1em;
    display: grid;
    justify-content: center;
    align-content: center;
    color: white;
}

.cruzetaRojaCinco {
    height: 2em;
    width: 2em;
    background-color: red;
}

.cruzetaRojaSeis {
    height: 2em;
    width: 2em;
    background-color: #1d2528;
    border-radius: 1em 1em 1em 1em;
    display: grid;
    justify-content: center;
    align-content: center;
    color: white;
}

.cruzetaRojaSiete {
    height: 2em;
    width: 2em;
    background-color: red;
}

.cruzetaRojaOcho {
    height: 2em;
    width: 2em;
    background-color: #1d2528;
    border-radius: 1em 1em 1em 1em;
    display: grid;
    justify-content: center;
    align-content: center;
    color: white;
}

.cruzetaRojaNueve {
    height: 2em;
    width: 2em;
    background-color: red;
}

.joystickDer {
    height: 3.5em;
    width: 3.5em;
    background-color: #1d2528;
    margin-top: 5.5em;
    margin-right: 1em;
    border-radius: 2em 2em 2em 2em;
    display: flex;
    justify-content: center;
    align-self: center;
}

.botonHome {
    height: 1.9em;
    width: 1.9em;
    background-color: #1d2528;
    border-radius: 0.9em 0.9em 0.9em 0.9em;
    margin-top: 0.9em;
    margin-left: 2em;
}