.master {                                       /* Elemento padre de todos los divs */
    display: flex;
    flex-direction: column;
}

.div {                                          /* Este div representa el header y el footer */
    height: 8.8em;
    width: 104em;
    background-color: antiquewhite;
    display: flex;
}

.separacion {                                   /* Este div separa, el header y el footer de la nintendo */
    background-color: whitesmoke;
    height: 40em;
    width: 104em;
}

.nintendo {                                     /* Este div es el elemento padre de todos los divs que haré en la nintendo */
    height: 35em;
    width: 104em;
    background-color: white;
    margin-top: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.controladorIzquierdo {                         /* Este div es el elemento padre de todos los divs del controlador izquierdo */
    height: 22em;
    width: 10em;
    background-color: lightblue;
    margin-top: 5em;
    border-radius: 6em 0em 0em 6em;
    display: flex;
    flex-direction: column;
}

.contenedorSimboloMenos {
    height: 4em;
    width: 10em;
    background-color:  lightblue;
    display: flex;
    border-radius: 6em 0em 0em 0em;;
    border-top: 0.5em solid black;
}

.botonMenos {
    height: 0.5em;
    width: 1.5em;
    background-color: black;
    margin-top: 2em;
    margin-left: 7.8em;
    border-radius: 1em 1em 1em 1em;
} 

.contenedorJoystickIzq {
    height: 4.5em;
    width: 10em;
    background-color: lightblue;
    display: flex;
}

.joystickIzq {
    height: 3.5em;
    width: 3.5em;
    background-color: black;
    border-radius: 2em 2em 2em 2em;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: 3em;
    margin-bottom: 2em;
}

.contenedorCruzetaAzul {        /* Contenedor padre de la cruzetaAzulUno a la Nueve*/
    height: 6em;
    width: 6em;
    background-color: lightblue;
    margin-left: 1.9em;
    display: grid;
    grid-template-columns: 2em 2em 2em;
}

.cruzetaAzulUno {
    height: 2em;
    width: 2em;
    background-color: lightblue;
}

.cruzetaAzulDos {
    height: 2em;
    width: 2em;
    background-color: black;
    border-radius: 1em 1em 1em 1em;
}

.cruzetaAzulTres {
    height: 2em;
    width: 2em;
    background-color: lightblue;
}

.cruzetaAzulCuatro {
    height: 2em;
    width: 2em;
    background-color: black;
    border-radius: 1em 1em 1em 1em;
}

.cruzetaAzulCinco {
    height: 2em;
    width: 2em;
    background-color: lightblue;
}

.cruzetaAzulSeis {
    height: 2em;
    width: 2em;
    background-color: black;
    border-radius: 1em 1em 1em 1em;
}

.cruzetaAzulSiete {
    height: 2em;
    width: 2em;
    background-color: lightblue;
}

.cruzetaAzulOcho {
    height: 2em;
    width: 2em;
    background-color: black;
    border-radius: 1em 1em 1em 1em;
}

.cruzetaAzulNueve {
    height: 2em;
    width: 2em;
    background-color: lightblue;
}


.contenedorBotonSelect {
    height: 7em;
    width: 10em;
    background-color: lightblue;
    display: flex;
    border-radius: 0em 0em 0em 6em;
}

.carcasaExterior {                              /* Este div es el elemento padre de la pantalla */
    height: 22em;
    width: 40em;
    background-color: grey;
    margin-top: 5em;
    border-radius: 2em 2em 0em 0em;
    display: flex;
    flex-direction: row;
}

.bordePantalla {
    height: 20em;
    width: 37em;
    background-color: black;
    margin-top: 1em;
    margin-left: 1.5em;
    border-radius: 1em 1em 1em 1em;
}

.pantalla {
    height: 17em;
    width: 32em;
    background-color: lightgrey;
    margin-top: 1.5em;
    margin-left: 2.5em;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
}

.controladorDerecho {                           /* Este div es el elemento padre de todos los divs del controlador derecho */
    height: 22em;
    width: 10em;
    background-color:  red;
    margin-top: 5em;
    border-radius: 0em 6em 6em 0em;
    display: flex;
}

/*.contenedorSimboloMas {                          Este div es el contenedor padre de todos los divs .simboloMasX 
    height: 1.2em;
    width: 1.2em;
    background-color: white;
    margin-top: 1.3em;
    margin-left: 0.6em;
    display: grid;
    grid-template-columns: 0.4em 0.4em 0.4em;
} 

.simboloMasUno {
    height: 0.4em;
    width: 0.4em;
    background-color: red;
}

.simboloMasDos {
    height: 0.4em;
    width: 0.4em;
    background-color: black;
}

.simboloMasTres {
    height: 0.4em;
    width: 0.4em;
    background-color: red;
}

.simboloMasCuatro {
    height: 0.4em;
    width: 0.4em;
    background-color: black;
}

.simboloMasCinco {
    height: 0.4em;
    width: 0.4em;
    background-color: black;
}

.simboloMasSeis {
    height: 0.4em;
    width: 0.4em;
    background-color: black;
}

.simboloMasSiete {
    height: 0.4em;
    width: 0.4em;
    background-color: red;

}

.simboloMasOcho {
    height: 0.4em;
    width: 0.4em;
    background-color: black;
}

.simboloMasNueve {
    height: 0.4em;
    width: 0.4em;
    background-color: red;
} */
